
 <nav class="navbar navbar-expand-lg " style="background-color: #2F2F2F;">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">MK - Portfolio</a> -->
      <img src="assets/img/mohammed khaled.jpg" style=" width: 36px; height: 35px; border-radius: 5px;" alt="">
      <div>
      <p class="p-0 m-0 ps-3" style="color: white;">Welcome Khaled Fathi</p>
      <p class="p-0 m-0 ps-3" style="color: #999999;"> Field presence areas </p>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="main">
      <div class="search ps-3 ms-auto pe-3 d-none d-lg-block">
        <select class="selectpicker" data-width="fit">
          <option data-content='<span class="flag-icon flag-us"></span> English'>English</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
      </select>
      </div>
          <a class="btn main-btn rounded-pill d-none d-lg-block" href="#"> Regestration</a>
          <a class = "login ps-3 pe-3 d-none d-lg-block" href="#">Login</a>
    </div>
  </div>
</nav>
