<section class="sponser py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h3 class="mb-5">Our sponsors</h3>
          </div>
          <div class="col-md-9">
              <div class="row mt-5">
                  <div class="col-lg-2 col-md-4 sponserContent">
                     <div>
                      <img src="assets/img/Testassets/ea_logo.png" alt="ea_logo">
                      <p>EA Sport</p>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4 sponserContent">
                      <div>
                          <img src="assets/img/Testassets/paypal.png" alt="ea_logo">
                          <p>Paypal</p>
                         </div>
                  </div>
                  <div class="col-lg-2 col-md-4 sponserContent">
                      <div>
                          <img src="assets/img/Testassets/playstation.png" alt="ea_logo">
                          <p class="mt-4">Playstation</p>
                         </div>
                  </div>
                  <div class="col-lg-2 col-md-6 sponserContent">
                      <div>
                          <img src="assets/img/Testassets/vodafone.png" alt="ea_logo">
                          <p class="mt-4">Vodafone</p>
                         </div>
                  </div>
                  <div class="col-lg-2  col-md-6 sponserContent">
                      <div>
                          <img src="assets/img/Testassets/visa.png" alt="ea_logo">
                          <p class="mt-4">Visa</p>
                         </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
