<section class="prize">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div style="margin-top: -60px;">
                  <img src="assets/img/Testassets/prize2.png" alt="prize">
              </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="prizeContent">
                  <h3>Our prizes</h3>
                  <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck.</p>
                  <br>
                  <br>
              </div>
          </div>
      </div>
  </div>
</section>
<hr class="solid">
