<div class="landing d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center"
  style="background-image: url(assets/img/Testassets/Black-Background.jpg);
  height: 700px;
  margin-top:-120px">
    <div class="row">
      <div class="col-lg-5">
        <img class="img-fluid" style="margin-top: 65px;" src="assets/logo-wi.ico">
      </div>
        <div class="col-lg-7 text-center text-light">
          <div class="Landing-item" style="text-align: left;">
            <span>26 JUN 2020 / 9:30 PM / Cairo</span>
            <h4 >REAL - ATLETICO</h4>
            <h1 >FINAL GAME</h1>
              <div class="counter" style="align-items: left;">
                <div class="days">6</div>
                <div class="hours">20</div> <span style="font-size: 25px;">:</span>
                <div class="minutes">37</div> <span style="font-size: 25px;">:</span>
                <div class="seconds">04</div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
