<footer class="pt-3">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center text-center">
          <div class="col-lg-10 col-md-12">
              <div class="row">
                  <div class="col-md-3 mt-3">
                      <div>
                          <img src="assets/logo-wi.ico" width="50px" height="40px" alt="logo"/>
                          <p style="color: aliceblue;">Elephant Phunk</p>
                          <p style="color: aliceblue; margin-top:-13px;">Creative Digital Agency</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-3">
                      <div>
                          <ul style="list-style-type: none; color: #999999;">
                              <li>Terms of Use</li>
                              <li>Help Center</li>
                              <li>Privacy Policy</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 mt-3">
                      <div>
                          <img src="assets/img/Testassets/PoweredbyToor_White.png" alt="logo">
                          <p style="color: #999999 "> © LA3EBNY | All Rights Reserved | 2020</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
