<nav class="navbar navbar-expand-lg mt-50">
  <div class="container" style="margin-top: 10px !important;">
    <!-- <a class="navbar-brand" href="#">MK - Portfolio</a> -->
      <img src="../../../assets/logo-white (1).png" style=" padding-top: 15px; width: 260px;" alt="">
    <div class="collapse navbar-collapse" id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" href="#">Contact</a>
        </li>
      </ul>
     </div>
     </div>
</nav>
