<div class="features text-center pt-5 pb-5">
  <div class="container">
  <div class="row align-items-center">
    <div class="col-lg-4 md-4 sm-6 text-center text-md-start" >
      <div class="text">
        <h4 style="color: white;">
              How It Works
        </h4>
        <p class="fs-6" style="color: #999999;">
          Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck.
        </p>
        <a class="btn main-btn text-uppercase mb-5" href="#"> COUNT ME IN </a>
      </div>
    </div>
    <div class="col-lg-8 d-none d-lg-block">
      <div class="image">
        <img class="img-fluid" style="margin-top: -110px; z-index: 1; position: relative;"  src="assets/img/Group-9-red.png" alt="">
      </div>
    </div>
    </div>
  </div>
  <div class="container mt-0" style="margin-top: -55px !important;">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-start mb-3 mt-3">
          <div class="card-body">
           <div class="numberCard"><span style="color: white; text-align: center;">1</span></div>
            <h5 class="card-title mt-3" style="color: white;">Starts with 1024 players</h5>
            <p style="color: #999999;">divided into groups of 8, so each player plays 7 matches at lease, in case of home and away they get to play 14 matches.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" style="z-index: 1;">
        <div class="card text-start mb-3 mt-3">
          <div class="card-body" >
           <div class="numberCard"><span style="color: white; text-align: center;">2</span></div>
            <h5 class="card-title mt-3" style="color: white;">256 players</h5>
            <p style="color: #999999;">
              the first 2 players of each group based on points will qualify to this stage (256 players) where they will play
               against 6 other players, so each group will have 8 players and only the first will qualify to the last stage,
               at this stage they will play 7 matches.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12" >
        <div class="card text-start mb-3 mt-3 workContentImg">
          <div class="card-body">
           <div class="numberCard"><span style="color: white; text-align: center;">3</span></div>
            <h5 class="card-title mt-3" style="color: white;">32 players</h5>
            <p style="color: #999999;">first players play a normal single elimination league</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<hr class="solid">
