<div style="background-color: #242424 !important;">
  <section class="time py-5">
    <div class="container">
        <div class="shadow-sm p-3 rounded timeContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center text-center align-items-center mt-3">
                        <div>
                            <h5>One Time Participation Fees</h5>
                            <small>Pay once per Tournament</small>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center text-center align-items-center mt-3">
                        <div>
                            <h4>60 USD</h4>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center text-center align-items-center mt-3">
                        <div>
                            <a class="login" style="color: white !important;" href="#">COUNT ME IN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
