.time{
  /* background-color: var(--dark-color); */
  color: white;
}
.time .timeContent{
  background-color: var(--sectionTwo);
}
.time .timeContent a{
  background-color: var(--mainColor);
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
