<!-- Top NAV -->
<app-top-nav-bar></app-top-nav-bar>
<!-- END -->

<!-- NavBar -->
<app-navbar></app-navbar>
<!-- END -->

<!-- BG - HEADER -->
<app-bg-header></app-bg-header>
<!-- END -->

<!-- How it Works -->
<app-about-section></app-about-section>
<!-- END -->

<!-- Sponsors -->
<app-our-sponsers></app-our-sponsers>
<!-- END -->

<!-- Prizes -->
<app-our-prizes></app-our-prizes>
<!-- END -->

<!-- Fees -->
<app-fees></app-fees>
<!-- END -->

<!-- Weather -->
<app-weather></app-weather>
<!-- END -->

<!-- Footer -->
<app-footer></app-footer>
<!-- END -->
